<div *ngIf="loading" class="flex col justify-content-center">
  <p-progressSpinner></p-progressSpinner>
</div>


<div *ngIf="podcast && episodes" class="flex flex-wrap col justify-content-between align-items-start">
  <!-- ======================================================================= -->
  <!-- podcast info -->
  <!-- ======================================================================= -->
  <article class="flex col-12 md:col-4 ">
    <div class="flex flex-wrap col-12 shadow-4 justify-content-center">
      <div [routerLink]="['podcast',podcast.trackId]" class="flex col justify-content-center">
        <img [src]="podcast.image" class="border-round " width="170">
      </div>
      <p-divider class="w-full"></p-divider>
      <!-- ================================================================= -->
      <!-- TITLE -->
      <!-- ================================================================= -->
      <div [routerLink]="['podcast',podcast.trackId]" class="flex flex-wrap col-12 pl-3">
        <div class="flex col-12 p-0">
          <h3 class="m-0 ">{{podcast.name | uppercase}}</h3>
        </div>
        <div class="flex col-12 p-0">
          <span class=" m-0 "> <i>
              by {{podcast.artist}}
            </i> </span>
        </div>
      </div>

      <p-divider class="w-full"></p-divider>
      <!-- ================================================================= -->
      <!-- DESCRIPTION -->
      <!-- ================================================================= -->
      <div class="flex flex-wrap col-12">
        <div class="flex col-12 p-0">
          <h5 class="m-0 ">Description:</h5>
        </div>
        <div class="flex col-12 p-0">
          <span class=" m-0 "> <i>
              {{podcast.summary}}
              <!-- {{ by {{podcast.artistName}}}} -->
            </i> </span>
        </div>
      </div>
    </div>
  </article>
  <div class="flex flex-wrap col-12 md:col-7">

    <router-outlet *ngIf="episodeSelected;else episodeList">
    </router-outlet>
    <ng-template #episodeList>
      <div class="flex pl-4 col-12 shadow-4 mb-3 justify-content-start">
        <h2 class="font-semibold">
          Episodes: {{episodes.length}}
        </h2>
      </div>
      <div class="flex flex-wrap col-12 shadow-4 justify-content-start">

        <p-table [value]="episodes" class="w-full" [scrollable]="true" scrollHeight="50vh">
          <ng-template pTemplate="header">
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Duration</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-episode>
            <tr>
              <td>
                <a [routerLink]="['episode',episode.trackId]">
                  {{ episode.trackName }}
                </a>
              </td>
              <td>{{ episode.releaseDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ episode.trackTimeMillis | date:'mm:ss' }}</td>
            </tr>
          </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="3">No episodes found.</td>
              </tr>
            </ng-template>
        </p-table>


      </div>
    </ng-template>

  </div>



</div>
